
.row{
    margin-bottom:0.3em;
}
.list-group-item {
    margin-bottom: 0.5rem !important;
}
/*
.list-group-item:last-child {
    margin-bottom: 3.0rem !important;
}
*/
/*
.col-12 {
    margin-bottom: 0.8rem !important;
}
*/
p{
    margin-bottom: 0.8rem;
}
